http_interactions:
- request:
    method: get
    uri: https://kobo.correlaid.org/assets/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      allow: GET, POST, HEAD, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: 2021-04-30 20:37:41 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
