http_interactions:
- request:
    method: post
    uri: https://kobo.correlaid.org/api/v2/assets/
    body:
      encoding: ''
      string: clone_from=a84jmwwdPEsZMhK7s2i4SL,name=vcr_test_name,asset_type=survey
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/
      allow: GET, POST, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/","owner":"https://kobo.correlaid.org/api/v2/users/api_user/","owner__username":"api_user","parent":null,"ancestors":null,"settings":{},"asset_type":"survey","date_created":"2021-06-12T14:07:07.280800Z","summary":{},"date_modified":"2021-06-12T14:07:07.280823Z","version_id":"vDeK4YC8HiwGZHbiyGPWuR","version__content_hash":"4724ddb07034559d7fb5a3d18288dfb683a2d082","version_count":1,"has_deployment":false,"deployed_version_id":null,"deployed_versions":{"count":0,"next":null,"previous":null,"results":[]},"deployment__identifier":null,"deployment__links":{},"deployment__active":false,"deployment__data_download_links":{},"deployment__submission_count":0,"report_styles":{"default":{},"specified":{},"kuid_names":{}},"report_custom":{},"map_styles":{},"map_custom":{},"content":{"schema":"1","survey":[],"settings":{}},"downloads":[{"format":"xls","url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo.xls"},{"format":"xml","url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo.xml"}],"embeds":[{"format":"xls","url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/xls/"},{"format":"xform","url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/xform/"}],"koboform_link":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/koboform/","xform_link":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/xform/","hooks_link":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/hooks/","tag_string":"","uid":"aNz6G8AXqvW2fejymw2eBo","kind":"asset","xls_link":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/xls/","name":"vcr_test_name","assignable_permissions":[{"url":"https://kobo.correlaid.org/api/v2/permissions/view_asset/","label":"View
        form"},{"url":"https://kobo.correlaid.org/api/v2/permissions/change_asset/","label":"Edit
        form"},{"url":"https://kobo.correlaid.org/api/v2/permissions/manage_asset/","label":"Manage
        project"},{"url":"https://kobo.correlaid.org/api/v2/permissions/add_submissions/","label":"Add
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/view_submissions/","label":"View
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/partial_submissions/","label":"View
        submissions only from specific users"},{"url":"https://kobo.correlaid.org/api/v2/permissions/change_submissions/","label":"Edit
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/delete_submissions/","label":"Delete
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/validate_submissions/","label":"Validate
        submissions"}],"permissions":[{"url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/permission-assignments/pBMsomczaLzvA6sBigxJy3/","user":"https://kobo.correlaid.org/api/v2/users/api_user/","permission":"https://kobo.correlaid.org/api/v2/permissions/add_submissions/","label":"Add
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/permission-assignments/pEtyCneas8hpEBH8VJ868q/","user":"https://kobo.correlaid.org/api/v2/users/api_user/","permission":"https://kobo.correlaid.org/api/v2/permissions/change_asset/","label":"Edit
        form"},{"url":"https://kobo.correlaid.org/api/v2/assets/aNz6G8AXqvW2fejymw2eBo/permission-assignments/p7noF45vPTu4iYFdqn64Qg[...]
