http_interactions:
- request:
    method: get
    uri: https://kobo.correlaid.org/api/v2/assets/?format=json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      allow: GET, POST, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":30,"next":null,"previous":null,"results":[{"url":"https://kobo.correlaid.org/api/v2/assets/aHAUrTT8evHECUR8AXpKpx/?format=json","date_modified":"2021-06-20T21:58:19.072274Z","date_created":"2021-06-20T21:56:29.947101Z","owner":"https://kobo.correlaid.org/api/v2/users/api_user/?format=json","summary":{"geo":false,"labels":["Your
        name","Your age","Your favourite dog","Your favourite cat"],"columns":["type","label","required","select_from_list_name"],"languages":[null],"row_count":4,"default_translation":null},"owner__username":"api_user","parent":null,"uid":"aHAUrTT8evHECUR8AXpKpx","tag_string":"","settings":{"sector":{"label":"Other","value":"Other"},"country":{"label":"Germany","value":"DEU"},"description":""},"kind":"asset","name":"Clone
        of malte trying to clone stuff again 2","asset_type":"survey","version_id":"vhmDXqqfB3WtQyjmAvAgK6","has_deployment":true,"deployed_version_id":"vhmDXqqfB3WtQyjmAvAgK6","deployment__identifier":"https://kc.correlaid.org/api_user/forms/aHAUrTT8evHECUR8AXpKpx","deployment__active":true,"deployment__submission_count":0,"permissions":[{"url":"https://kobo.correlaid.org/api/v2/assets/aHAUrTT8evHECUR8AXpKpx/permission-assignments/pxFwcKw4PtwcMVZECkJq7w/?format=json","user":"https://kobo.correlaid.org/api/v2/users/api_user/?format=json","permission":"https://kobo.correlaid.org/api/v2/permissions/add_submissions/?format=json","label":"Add
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/assets/aHAUrTT8evHECUR8AXpKpx/permission-assignments/pSTtynhw6JChX62JSaC3qy/?format=json","user":"https://kobo.correlaid.org/api/v2/users/api_user/?format=json","permission":"https://kobo.correlaid.org/api/v2/permissions/change_asset/?format=json","label":"Edit
        form"},{"url":"https://kobo.correlaid.org/api/v2/assets/aHAUrTT8evHECUR8AXpK[...]
