http_interactions:
- request:
    method: get
    uri: https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/data/?format=json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":6,"next":null,"previous":null,"results":[{"_id":482,"control_over_life":"7","Taking_all_things_to_ould_you_say_you_are":"1","voluntary_activity":"8","trust_in_groups/Your_family":"1","formhub/uuid":"1f37921296654b91b8cc11e152956764","_validation_status":{},"importance_in_life/Politics":"1","_uuid":"199a3066-72a2-48b0-ade1-c186ae6cb0e7","health_self_assessment":"5","importance_in_life/Friends_and_acquaintances":"1","_tags":[],"trust_in_groups/People_you_know_personally":"2","_submitted_by":null,"_xform_id_string":"aRo4wg5utWT7dwdnQQEAE7","importance_in_life/Family":"2","trust_in_groups/People_you_meet_for_the_first_time":"3","meta/instanceID":"uuid:199a3066-72a2-48b0-ade1-c186ae6cb0e7","trust_in_groups/People_of_another_nationality":"2","trust_in_groups/People_in_your_neighborhood":"3","importance_in_life/Religion":"1","end":"2021-09-01T21:38:34.035+02:00","locate_hamburg":"60.924739
        -90.682977 0 0","_submission_time":"2021-09-01T19:38:34","_notes":[],"_attachments":[],"importance_in_life/Leisure_time":"1","start":"2021-09-01T21:36:49.742+02:00","trust_in_groups/People_of_another_religion":"2","_geolocation":[60.924739,-90.682977],"importance_in_life/Work":"1","_status":"submitted_via_web","__version__":"vkhZEtuEwyhNgJropgVs7h","trust_in_others":"2"},{"_id":484,"control_over_life":"3","Taking_all_things_to_ould_you_say_you_are":"3","voluntary_activity":"8","trust_in_groups/Your_family":"2","formhub/uuid":"1f37921296654b91b8cc11e152956764","_validation_status":{},"importance_in_life/Politics":"3","_uuid":"199a3066-72a2-48b0-ade1-c186ae6cb0e7","health_self_assessment":"3","importance_in_life/Friends_and_acquaintances":"2","_tags":[],"trust_in_groups/People_you_know_personally":"2","_submitted_by":null,"_xform_id_string":"aRo4wg5utWT7dwdnQ[...]
