http_interactions:
- request:
    method: get
    uri: https://kobo.correlaid.org/api/v2/assets/?format=json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      allow: GET, POST, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":8,"next":null,"previous":null,"results":[{"url":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/?format=json","date_modified":"2021-05-03T15:01:49.807891Z","date_created":"2021-02-25T15:29:57.813770Z","owner":"https://kobo.correlaid.org/api/v2/users/super_admin/?format=json","summary":{"geo":false,"labels":["Hello!","Disclaimer","What
        is your first name?","What is your last name?","Which email address can we
        use to contact you?"],"columns":["type","name","required","label","hint","constraint","constraint_message","select_from_list_name","relevant","kobo--score-choices","guidance_hint"],"languages":["English
        (en)","Deutsch (de)"],"row_count":47,"default_translation":"English (en)"},"owner__username":"super_admin","parent":"https://kobo.correlaid.org/api/v2/collections/cjpaoCes6BZiCbzn9Tv6bA/?format=json","uid":"aZX4ysiPdP3JHnTMbnu2n2","tag_string":"","settings":{},"kind":"asset","name":"Template
        survey applications","asset_type":"template","version_id":"vMD7uBPhuWpRMCmJuKVrHp","has_deployment":false,"deployed_version_id":null,"deployment__identifier":null,"deployment__active":false,"deployment__submission_count":0,"permissions":[{"url":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/permission-assignments/pp36NL4VjBftHBtRCZk57E/?format=json","user":"https://kobo.correlaid.org/api/v2/users/AnonymousUser/?format=json","permission":"https://kobo.correlaid.org/api/v2/permissions/view_asset/?format=json","label":"View
        template"},{"url":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/permission-assignments/pHSuoJARdj6whAguP4bR95/?format=json","user":"https://kobo.correlaid.org/api/v2/users/super_admin/?format=json","permission":"https://kobo.correlaid.org/api/v2/permissions/change_asset/?format=json","label":"Edit
        template"},{"url":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/permission-assignments/pxvuW7j3gv9EgqSZFuC2bp/?format=json","user":"https://kobo.correlaid.org/api/v2/users/super_admin/?format=json","permission":"https://kobo.correlaid.org/api/v2/permissions/manage_asset/?format=json","label":"Manage
        template"},{"url":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/permission-assignments/pLQwWRnuW7VQ3wS6ANT6ow/?format=json","user":"https://kobo.correlaid.org/api/v2/users/super_admin/?format=json","permission":"https://kobo.correlaid.org/api/v2/permissions/view_asset/?format=json","label":"View
        template"}],"downloads":[{"format":"xls","url":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/?format=json.xls"},{"format":"xml","url":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/?format=json.xml"}],"data":"https://kobo.correlaid.org/api/v2/assets/aZX4ysiPdP3JHnTMbnu2n2/data/?format=json"},{"url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/?format=json","date_modified":"2021-05-02T12:41:54.037442Z","date_created":"2021-05-02T12:12:11.859577Z","owner":"https://kobo.correlaid.org/api/v2/users/api_user/?format=json","summary":{"geo":true,"labels":["Please
        say, for each of the following, how important it is in your life.","Work","Family","Friends
        and acquaintances","Leisure time"],"columns":["name","type","label","required","kobo--score-choices","select_from_list_name","hint","parameters"],"languages":[null],"row_count":21,"default_translation":null},"owner__username":"api_user","parent":null,"uid":"aRo4wg5utWT7dwdnQQEAE7","tag_string":"","settings":{"sector":{"label":"Other","value":"Other"},"country":{"label":"Germany","value":"DEU"},"description":"Yet
        another testing form for package development","share-metadata":false},"kind":"asset","name":"kbtbr
        Testing Survey","asset_type":"survey","version_id":"vGEYKrPXZhge2uYk4toEKs","has_deployment":true,"deployed_version_id":"vGEYKrPXZhge2uYk4toEKs","deployment__identifier":"https://kc.correlaid.org/api_user/forms/aRo4wg5utWT7dwdnQQEAE7","deployment__active":true,"deployment__submission_count":4,"permissions":[{"url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/permission-assignments/pGnVn25TznLDuRD2cXk9EM/?format=json","user":"https:/[...]
