http_interactions:
- request:
    method: get
    uri: https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/?format=json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/?format=json","owner":"https://kobo.correlaid.org/api/v2/users/api_user/?format=json","owner__username":"api_user","parent":null,"ancestors":null,"settings":{"sector":{"label":"Other","value":"Other"},"country":{"label":"Germany","value":"DEU"},"description":"Yet
        another testing form for package development","share-metadata":false},"asset_type":"survey","date_created":"2021-05-02T12:12:11.859577Z","summary":{"geo":true,"labels":["Please
        say, for each of the following, how important it is in your life.","Work","Family","Friends
        and acquaintances","Leisure time"],"columns":["name","type","label","required","kobo--score-choices","select_from_list_name","hint","parameters"],"languages":[null],"row_count":21,"default_translation":null},"date_modified":"2021-05-02T12:41:54.037442Z","version_id":"vGEYKrPXZhge2uYk4toEKs","version__content_hash":"9487faea38af0b94b0f165fe6a78b0f4fc8e1aa3","version_count":6,"has_deployment":true,"deployed_version_id":"vGEYKrPXZhge2uYk4toEKs","deployed_versions":{"count":2,"next":null,"previous":null,"results":[{"uid":"vGEYKrPXZhge2uYk4toEKs","url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/versions/vGEYKrPXZhge2uYk4toEKs/?format=json","content_hash":"9487faea38af0b94b0f165fe6a78b0f4fc8e1aa3","date_deployed":"2021-05-02T12:41:36.532642Z","date_modified":"2021-05-02
        12:41:36.532642+00:00"},{"uid":"vhWtJRry8cSn5PBEda3oDy","url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/versions/vhWtJRry8cSn5PBEda3oDy/?format=json","content_hash":"561e3789013d5b0e7ac8939b7ce31a824067aec0","date_deployed":"2021-05-02T12:33:25.779708Z","date_modified":"2021-05-02
        12:33:25.779708+00:00"}]},"deployment__identifier":"https://kc.correlaid.org/api_user/forms/aRo4wg5utWT7dwdnQQEAE7","deployment__links":{"url":"https://ee.correlaid.org/y6PKgSLC","single_url":"https://ee.correlaid.org/single/y6PKgSLC","single_once_url":"https://ee.correlaid.org/single/71008a4dad5f8c5541759ddb818a5760","offline_url":"https://ee.correlaid.org/x/y6PKgSLC","preview_url":"https://ee.correlaid.org/preview/y6PKgSLC","iframe_url":"https://ee.correlaid.org/i/y6PKgSLC","single_iframe_url":"https://ee.correlaid.org/single/i/y6PKgSLC","single_once_iframe_url":"https://ee.correlaid.org/single/i/71008a4dad5f8c5541759ddb818a5760"},"deployment__active":true,"deployment__data_download_links":{"xls_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/xls/","csv_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/csv/","zip_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/zip/","kml_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/kml/","xls":"https://kc.correlaid.org/api_user/reports/aRo4wg5utWT7dwdnQQEAE7/export.xlsx","csv":"https://kc.correlaid.org/api_user/reports/aRo4wg5utWT7dwdnQQEAE7/export.csv"},"deployment__submission_count":4,"report_styles":{"default":{},"specified":{"Q1":{},"end":{},"start":{},"ai6cp87":{},"dq0sb99":{},"fd0cf28":{},"gt1yj76":{},"ip2pc55":{},"ke1im15":{},"kr9ur31":{},"ks56k46":{},"lr5sh35":{},"mk6mc53":{},"ob3me97":{},"or5gr65":{},"qy1kf43":{},"tb2px63":{},"tf9rd50":{},"tt3bk39":{},"uf68v87":{},"va0xx85":{},"wh7ei00":{},"xg6fl64":{},"yj6dy23":{},"/dr9fq65":{},"/tb2px63":{}},"kuid_names":{"Q1":"dr9fq65","end":"m28GgoH7K","start":"dCWJ0qKC4","ai6cp87":"ai6cp87","dq0sb99":"dq0sb99","fd0cf28":"fd0cf28","gt1yj76":"gt1yj76","ip2pc55":"ip2pc55","ke1im15":"ke1im15","kr9ur31":"kr9ur31","ks56k46":"ks56k46","lr5sh35":"lr5sh35","mk6mc53":"mk6mc53","ob3me97":"ob3me97","or5gr65":"or5gr65","qy1kf43":"qy1kf43","tb2px63":"tb2px63","tf9rd50":"tf9rd50","tt3bk39":"tt3bk39","uf68v87":"uf68v87","va0xx85":"va0xx85","wh7ei00":"wh7ei00","xg6fl64":"xg6fl64","yj6dy23":"yj6dy23","/dr9fq65":"/dr9fq65","/tb2px63":"/tb2px63"}},"report_custom":{},"map_styles":{},"map_custom":{},"content":{"schema":"1","survey":[{"name":"start","type":"start","$kuid":"dCWJ0qKC4","$autoname":"start"},{"name":"end","type":"end","$kuid":"m28GgoH7K","$autoname":"end"},{"name":"Q1","type":"begin_score","$kuid":"dr9fq65","label":["Please
        say, for each of the following, how important it is in your life."],"required":false,"$autoname":"Q1","kobo--score-choices":"ys4jh05"},{"type":"score__row","$kuid":"kr9ur31","label":["Work"],"required":false,"$autoname":"Work"},{"type":"score__row","$kuid":"tf9rd50","label":["Family"],"required":false,"$autoname":"Family"},{"type":"score__row","$kuid":"mk6mc53","label":["Friends
        and acquaintances"],"required":false,"$autoname":"Friends_and_acquaintances"},{"type":"score__row","$kuid":"lr5sh35","label":["Leisure
        time"],"required":false,"$autoname":"Leisure_time"},{"type":"score__row","$kuid":"ob3me97","label":["Politics"],"required":false,"$autoname":"Politics"},{"type":"score__row","$kuid":"ai6cp87","label":["Religion"],"required":false,"$autoname":"Religion"},{"type":"end_score","$kuid":"/dr9fq65"},{"type":"select_one","$kuid":"or5gr65","label":["Taking
        all things together, would you say you are:"],"required":true,"$autoname":"Taking_all_things_to_ould_you_say_you_are","select_from_list_name":"rz4sr22"},{"type":"select_one","$kuid":"uf68v87","label":["All
        in all, how would you describe your state of health these days? would you
        say it is"],"required":false,"$autoname":"All_in_all_how_woul_would_you_say_it_is","select_from_list_name":"ve2ix92"},{"type":"select_one","$kuid":"ks56k46","label":["Did
        you do voluntary work in the last 6 months?"],"required":false,"$autoname":"Did_you_do_voluntary_in_the_last_6_months","select_from_list_name":"am8gn27"},{"type":"sele[...]
