http_interactions:
- request:
    method: get
    uri: https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/?format=json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/?format=json","owner":"https://kobo.correlaid.org/api/v2/users/api_user/?format=json","owner__username":"api_user","parent":null,"ancestors":null,"settings":{"sector":{"label":"Other","value":"Other"},"country":{"label":"Germany","value":"DEU"},"description":"Yet
        another testing form for package development","share-metadata":false},"asset_type":"survey","date_created":"2021-05-02T12:12:11.859577Z","summary":{"geo":true,"labels":["Please
        say, for each of the following, how important it is in your life.","Work","Family","Friends
        and acquaintances","Leisure time"],"columns":["name","type","label","required","kobo--score-choices","select_from_list_name","hint","parameters"],"languages":[null],"row_count":21,"default_translation":null},"date_modified":"2021-05-02T12:41:54.037442Z","version_id":"vGEYKrPXZhge2uYk4toEKs","version__content_hash":"9487faea38af0b94b0f165fe6a78b0f4fc8e1aa3","version_count":6,"has_deployment":true,"deployed_version_id":"vGEYKrPXZhge2uYk4toEKs","deployed_versions":{"count":2,"next":null,"previous":null,"results":[{"uid":"vGEYKrPXZhge2uYk4toEKs","url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/versions/vGEYKrPXZhge2uYk4toEKs/?format=json","content_hash":"9487faea38af0b94b0f165fe6a78b0f4fc8e1aa3","date_deployed":"2021-05-02T12:41:36.532642Z","date_modified":"2021-05-02
        12:41:36.532642+00:00"},{"uid":"vhWtJRry8cSn5PBEda3oDy","url":"https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/versions/vhWtJRry8cSn5PBEda3oDy/?format=json","content_hash":"561e3789013d5b0e7ac8939b7ce31a824067aec0","date_deployed":"2021-05-02T12:33:25.779708Z","date_modified":"2021-05-02
        12:33:25.779708+00:00"}]},"deployment__identifier":"https://kc.correlaid.org/api_user/forms/aRo4wg5utWT7dwdnQQEAE7","deployment__links":{"url":"https://ee.correlaid.org/y6PKgSLC","single_url":"https://ee.correlaid.org/single/y6PKgSLC","single_once_url":"https://ee.correlaid.org/single/71008a4dad5f8c5541759ddb818a5760","offline_url":"https://ee.correlaid.org/x/y6PKgSLC","preview_url":"https://ee.correlaid.org/preview/y6PKgSLC","iframe_url":"https://ee.correlaid.org/i/y6PKgSLC","single_iframe_url":"https://ee.correlaid.org/single/i/y6PKgSLC","single_once_iframe_url":"https://ee.correlaid.org/single/i/71008a4dad5f8c5541759ddb818a5760"},"deployment__active":true,"deployment__data_download_links":{"xls_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/xls/","csv_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/csv/","zip_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/zip/","kml_legacy":"https://kc.correlaid.org/api_user/exports/aRo4wg5utWT7dwdnQQEAE7/kml/","xls":"https://kc.correlaid.org/api_user/reports/aRo4wg5utWT7dwdnQQEAE7/export.xlsx","csv":"https://kc.correlaid.org/api_user/reports/aRo4wg5utWT7dwdnQQEAE7/export.csv"},"deployment__submission_count":4,"report_styles":{"default":{},"specified":{"Q1":{},"end":{},"start":{},"ai6cp87":{},"dq0sb99":{},"fd0cf28":{},"gt1yj76":{},"ip2pc55":{},"ke1im15":{},"kr9ur31":{},"ks56k46":{},"lr5sh35":{},"mk6mc53":{},"ob3me97":{},"or5gr65":{},"qy1kf43":{},"tb2px63":{},"tf9rd50":{},"tt3bk39":{},"uf68v87":{},"va0xx85":{},"wh7ei00":{},"xg6fl64":{},"yj6dy23":{},"/dr9fq65":{},"/tb2px63":{}},"kuid_names":{"Q1":"dr9fq65","end":"m28GgoH7K","start":"dCWJ0qKC4","ai6cp87":"ai6cp87","dq0sb99":"dq0sb99","fd0cf28":"fd0cf28","gt1yj76":"gt1yj76","ip2pc55":"ip2pc55","ke1im15":"ke1im15","kr9ur31":"kr9ur31","ks56k46":"ks56k46","lr5sh35":"lr5sh35","mk6mc53":"mk6mc53","ob3me97":"ob3me97","or5gr65":"or5gr65","qy1kf43":"qy1kf43","tb2px63":"tb2px63","tf9rd50":"tf9rd50","tt3bk39":"tt3bk39","uf68v87":"uf68v87","va0xx85":"va0xx85","wh7ei00":"wh7ei00","xg6fl64":"xg6fl64","yj6dy23":"yj6dy23","/dr9fq65":"/dr9fq65","/tb2px63":"/tb2px63"}},"report_custom":{},"map_styles":{},"map_custom":{},"content":{"schema":"1","survey":[{"name":"start","type":"start","$kuid":"dCWJ0qKC4","$autoname":"start"},{"name":"end","type":"end","$kuid":"m28GgoH7K","$autoname":"end"},{"name":"Q1","type":"begin_score","$kuid":"dr9fq65","label":["Please
        say, for each of the following, how important it is in your life."],"required":false,"$autoname":"Q1","kobo--score-choices":"ys4jh05"},{"type":"score__row","$kuid":"kr9ur31","label":["Work"],"required":false,"$autoname":"Work"},{"type":"score__row","$kuid":"tf9rd50","label":["Family"],"required":false,"$autoname":"Family"},{"type":"score__row","$kuid":"mk6mc53","label":["Friends
        and acquaintances"],"required":false,"$autoname":"Friends_and_acquaintances"},{"type":"score__row","$kuid":"lr5sh35","label":["Leisure
        time"],"required":false,"$autoname":"Leisure_time"},{"type":"score__row","$kuid":"ob3me97","label":["Politics"],"required":false,"$autoname":"Politics"},{"type":"score__row","$kuid":"ai6cp87","label":["Religion"],"required":false,"$autoname":"Religion"},{"type":"end_score","$kuid":"/dr9fq65"},{"type":"select_one","$kuid":"or5gr65","label":["Taking
        all things together, would you say you are:"],"required":true,"$autoname":"Taking_all_things_to_ould_you_say_you_are","select_from_list_name":"rz4sr22"},{"type":"select_one","$kuid":"uf68v87","label":["All
        in all, how would you describe your state of health these days? would you
        say it is"],"required":false,"$autoname":"All_in_all_how_woul_would_you_say_it_is","select_from_list_name":"ve2ix92"},{"type":"select_one","$kuid":"ks56k46","label":["Did
        you do voluntary work in the last 6 months?"],"required":false,"$autoname":"Did_you_do_voluntary_in_the_last_6_months","select_from_list_name":"am8gn27"},{"type":"sele[...]
- request:
    method: get
    uri: https://kobo.correlaid.org/api/v2/assets/aRo4wg5utWT7dwdnQQEAE7/data/?format=json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":4,"next":null,"previous":null,"results":[{"_id":104,"_notes":[],"Q1/Leisure_time":"3","Taking_all_things_to_ould_you_say_you_are":"2","I_would_like_to_ask_y_much_or_not_at_all/People_you_know_personally":"2","_validation_status":{},"_uuid":"aca8c44f-6327-4024-9187-c9e10151c940","_tags":[],"I_would_like_to_ask_y_much_or_not_at_all/People_you_meet_for_the_first_time":"2","Generally_speaking_dealing_with_people":"1","Did_you_do_voluntary_in_the_last_6_months":"2","_xform_id_string":"aRo4wg5utWT7dwdnQQEAE7","I_would_like_to_ask_y_much_or_not_at_all/People_of_another_nationality":"2","I_would_like_to_ask_y_much_or_not_at_all/Your_family":"2","meta/instanceID":"uuid:aca8c44f-6327-4024-9187-c9e10151c940","_status":"submitted_via_web","I_would_like_to_ask_y_much_or_not_at_all/People_in_your_neighborhood":"2","formhub/uuid":"1f37921296654b91b8cc11e152956764","end":"2021-05-02T14:35:35.092+02:00","Q1/Friends_and_acquaintances":"1","_submission_time":"2021-05-02T12:35:45","I_would_like_to_ask_y_much_or_not_at_all/People_of_another_religion":"2","Q1/Politics":"3","_attachments":[],"Q1/Family":"3","start":"2021-05-02T14:34:33.302+02:00","_submitted_by":null,"_geolocation":[null,null],"Q1/Work":"2","All_in_all_how_woul_would_you_say_it_is":"4","__version__":"vhWtJRry8cSn5PBEda3oDy","Some_people_feel_the_your_life_turns_out":"6","Q1/Religion":"2"},{"_id":105,"_notes":[],"Q1/Leisure_time":"4","Taking_all_things_to_ould_you_say_you_are":"1","I_would_like_to_ask_y_much_or_not_at_all/People_you_know_personally":"3","_validation_status":{},"_uuid":"7ab504ec-1a1e-49e5-960c-39b77f5e00c5","_tags":[],"I_would_like_to_ask_y_much_or_not_at_all/People_you_meet_for_the_first_time":"3","Generally_speaking_dealing_with_people":"1","Did_you_do_voluntary_in_the_last_6_months":"2","_xform_id_string":"aRo4wg5utWT7dwdnQQEAE7","I_would_like_to_ask_y_much_or_not_at_all/People_of_another_nationality":"3","I_would_like_to_ask_y_much_or_not_at_all/Your_family":"2","meta/instanceID":"uuid:7ab504ec-1a1e-49e5-960c-39b77f5e00c5","_status":"submitted_via_web","I_would_like_to_ask_y_much_or_not_at_all/People_in_your_neighborhood":"1","formhub/uuid":"1f37921296654b91b8cc11e152956764","end":"2021-05-02T14:36:36.740+02:00","Q1/Friends_and_acquaintances":"3","_submission_time":"2021-05-02T12:36:47","I_would_like_to_ask_y_much_or_not_at_all/People_of_another_religion":"2","Q1/Politics":"3","_attachments":[],"Q1/Family":"2","start":"2021-05-02T14:36:11.481+02:00","_submitted_by":null,"_geolocation":[null,null],"Q1/Work":"1","All_in_all_how_woul_would_you_say_it_is":"8","__version__":"vhWtJRry8cSn5PBEda3oDy","Some_people_feel_the_your_life_turns_out":"3","Q1/Religion":"2"},{"_id":106,"_notes":[],"Q1/Leisure_time":"1","Upload_an_arbitrary_file":"E0QLjvNUYAAe-s_-14_44_17.jpeg","Taking_all_things_to_ould_you_say_you_are":"2","I_would_like_to_ask_y_much_or_not_at_all/People_you_know_personally":"1","_validation_status":{},"_uuid":"3b98cf99-b651-422b-ace9-c242ca8f9717","_tags":[],"I_would_like_to_ask_y_much_or_not_at_all/People_you_meet_for_the_first_time":"3","Generally_speaking_dealing_with_people":"8","Did_you_do_voluntary_in_the_last_6_months":"9","_xform_id_string":"aRo4wg5utWT7dwdnQQEAE7","I_would_like_to_ask_y_much_or_not_at_all/People_of_another_nationality":"2","I_would_like_to_ask_y_much_or_not_at_all/Your_family":"1","meta/instanceID":"uuid:3b98cf99-b651-422b-ace9-c242ca8f9717","_status":"submitted_via_web","I_would_like_to_ask_y_much_or_not_at_all/People_in_your_neighborhood":"2","formhub/uuid":"1f37921296654b91b8cc11e152956764","end":"2021-05-02T14:44:30.817+02:00","Q1/Friends_and_acquaintances":"2","Please_indicate_wher_the_map_is_Hamburg":"53.555892
        9.948884 0 0","_submission_time":"2021-05-02T12:44:41","I_would_like_to_ask_y_much_or_not_at_all/People_of_another_religion":"2","Q1/Politics":"2","_attachments":[{"mimetype":"image/jpeg","download_small_url":"https://kc.correlaid.org/media/small?media_file=api_user%2Fattachments%2F1f37921296654b91b8cc11e152956764%2F3b98cf99-b651-422b-ace9-c242ca8f9717%2FE0QLjvNUYAAe-s_-14_44_17.jpeg","download_large_url":"https://kc.correlaid.org/media/large?media_file=api_user%2Fattachments%2F1f37921296654b91b8cc11e152956764%2F3b98cf99-b651-422b-ace9-c242ca8f9717%2FE0QLjvNUYAAe-s_-14_44_17.jpeg","download_url":"https://kc.correlaid.org/media/original?media_file=api_user%2Fattachments%2F1f37921296654b91b8cc11e152956764%2F3b98cf99-b651-422b-ace9-c242ca8f9717%2FE0QLjvNUYAAe-s_-14_44_17.jpeg","filename":"api_user/attachments/1f37921296654b91b8cc11e152956764/3b98cf99-b651-422b-ace9-c242ca8f9717/E0QLjvNUYAAe-s_-14_44_17.jpeg","instance":106,"download_medium_url":"https://kc.correlaid.org/media/medium?media_file=api_user%2Fattachments%2F1f37921296654b91b8cc11e152956764%2F3b98cf99-b651-422b-ace9-c242ca8f9717%2FE0QLjvNUYAAe-s_-14_44_17.jpeg","id":1,"xform":18}],"Q1/Family":"3","start":"2021-05-02T14:42:11.950+02:00","_submitted_by":null,"_geolocation":[53.555892,9.948884],"Q1/Work":"4","All_in_all_how_woul_would_you_say_it_is":"5","__version__":"vGEYKrPXZhge2uYk4toEKs","Some_people_feel_the_your_life_turns_out":"8","Q1/Religion":"3"},{"_id":107,"_notes":[],"Q1/Leisure_time":"3","Taking_all_things_to_ould_you_say_you_are":"4","I_would_like_to_ask_y_much_or_not_at_all/People_you_know_personally":"4","_validation_status":{},"_uuid":"8a12d9e0-68ab-4df[...]
