http_interactions:
- request:
    method: post
    uri: https://kobo.correlaid.org/api/v2/assets/
    body:
      encoding: ''
      string: |-
        name=vcr_test_name,asset_type=survey,settings={
          "description": "",
          "sector": "",
          "country": "",
          "share-metadata": false
        }
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/
      allow: GET, POST, HEAD, OPTIONS
      x-kobonaut: api_user
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/","owner":"https://kobo.correlaid.org/api/v2/users/api_user/","owner__username":"api_user","parent":null,"ancestors":null,"settings":{"description":"","sector":"","country":"","share-metadata":false},"asset_type":"survey","date_created":"2021-07-12T20:28:22.558004Z","summary":{},"date_modified":"2021-07-12T20:28:22.558023Z","version_id":"vc6juXYuMuHKd7QecViBo8","version__content_hash":"4724ddb07034559d7fb5a3d18288dfb683a2d082","version_count":1,"has_deployment":false,"deployed_version_id":null,"deployed_versions":{"count":0,"next":null,"previous":null,"results":[]},"deployment__identifier":null,"deployment__links":{},"deployment__active":false,"deployment__data_download_links":{},"deployment__submission_count":0,"report_styles":{"default":{},"specified":{},"kuid_names":{}},"report_custom":{},"map_styles":{},"map_custom":{},"content":{"settings":{},"survey":[],"schema":"1"},"downloads":[{"format":"xls","url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ.xls"},{"format":"xml","url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ.xml"}],"embeds":[{"format":"xls","url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/xls/"},{"format":"xform","url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/xform/"}],"koboform_link":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/koboform/","xform_link":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/xform/","hooks_link":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/hooks/","tag_string":"","uid":"abGvsKH8gdoe9UFxDSvLiQ","kind":"asset","xls_link":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/xls/","name":"vcr_test_name","assignable_permissions":[{"url":"https://kobo.correlaid.org/api/v2/permissions/view_asset/","label":"View
        form"},{"url":"https://kobo.correlaid.org/api/v2/permissions/change_asset/","label":"Edit
        form"},{"url":"https://kobo.correlaid.org/api/v2/permissions/manage_asset/","label":"Manage
        project"},{"url":"https://kobo.correlaid.org/api/v2/permissions/add_submissions/","label":"Add
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/view_submissions/","label":"View
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/partial_submissions/","label":"View
        submissions only from specific users"},{"url":"https://kobo.correlaid.org/api/v2/permissions/change_submissions/","label":"Edit
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/delete_submissions/","label":"Delete
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/permissions/validate_submissions/","label":"Validate
        submissions"}],"permissions":[{"url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/permission-assignments/pHN2kVsV6qPbyq2PwapSwM/","user":"https://kobo.correlaid.org/api/v2/users/api_user/","permission":"https://kobo.correlaid.org/api/v2/permissions/add_submissions/","label":"Add
        submissions"},{"url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/permission-assignments/pnFbgMzeSq7NtNNueFfRUj/","user":"https://kobo.correlaid.org/api/v2/users/api_user/","permission":"https://kobo.correlaid.org/api/v2/permissions/change_asset/","label":"Edit
        form"},{"url":"https://kobo.correlaid.org/api/v2/assets/abGvsKH8gdoe9UFxDSvLiQ/permission-assignments/pVnk7oUahN9moySrqYKnYq[...]
